{
  "extends": "eslint-config-egg",
  "root": true,
  "rules": {
    "quotes": [0, "double"],
    "no-multiple-empty-lines": "off",
    "no-trailing-spaces":"off",
    "array-bracket-spacing": "off",
    "semi":"off",
    "comma-dangle":"off",
    "arrow-parens":"off",
    "space-before-function-paren":"off"
  }
}
